.theme-default {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0;
}

.theme-default #navigation-menu {
	width: 20rem;
	height: 100%;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #eee;
	padding-top: 1rem;
}

.theme-default #main-title {
	text-align: center;
}

.theme-default #main-title a {
	text-decoration: none;
	color: #000
}

.theme-default #main-title img {
	height: 1em;
	width: 1em;
	vertical-align: middle;
}

.theme-default #logged-in-user {
    padding: 0 2em 1em;
    text-align: center;
}

.theme-default .nav-link {
	display: block;
	padding: 0.25em 2em;
	text-decoration: none;
	color: #000;
	position: relative;
}

.theme-default .nav-link:hover {
	background-color: #ddd;
}

.theme-default .active-page::after {
	content: '';
	position: absolute;
	left: 0;
	height: 0;
	width: 0;
	display: block;
	border: 0.5em solid transparent;
	border-left: 0.5em solid #f44;
	top: 50%;
	transform: translateY(-50%);
}

.theme-default #footer {
	position: absolute;
	bottom: 1rem;
	padding: 0.25rem 2rem;
	background-color: #ccc;
	width: 16rem;
	line-height: 1.5rem;
	background-color: #f44;
	color: white;
}

.theme-default #content {
	margin-left: 20rem;
	padding: 1rem 3rem;
}

.theme-default .post {
	background-color: #efefef;
	padding: 1rem;
	margin: 1rem 0;
	position: relative;
	border-radius: 3px;
	max-width: 96%;
	display: inline-block;
	/* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.theme-default .post::before {
	content: '';
	position: absolute;
	left: -1em;
	height: 0;
	width: 0;
	display: block;
	border: 0.5em solid transparent;
	border-right: 0.5em solid #efefef;
	top: 50%;
	transform: translateY(-50%);
}

.theme-default .post-meta, .theme-default .post-content {
	margin: 0.2em 0;
}

.theme-default .post-meta {
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: light;
}

.theme-default .post-content {
	font-size: 1.2em;
	margin-bottom: 0.7em;
}

.theme-default .thumbnail {
	width: 5em;
	height: 5em;
}

.theme-default .text-block {
	max-width: 30em;
}

.theme-default form {
	max-width: 30em;
}

.theme-default form .errors {
    margin-top: 1em;
}

.theme-default form .errors .error {
    color: #c00;
    margin: 0;
}

.theme-default .form-group .form-label {
	font-size: 1.25em;
	margin: 1em 0 0.25em;
	display: block;
}

.theme-default .form-group .form-label.required::after {
    content: '*';
    color: #c00;
    margin-left: 0.25em;
}

.theme-default .form-group input.form-control {
	width: 100%;
	border: none;
	border-radius: 3px;
	background: #eee;
	min-height: 2em;
}

.theme-default .form-group textarea.form-control {
	width: 100%;
	min-height: 6em;
	border: none;
	border-radius: 3px;
	background: #eee;
}

.theme-default .form-action {
	margin-top: 5em;
}

.theme-default .form-button {
	min-width: 5em;
	height: 2em;
	background-color: #eee;
	border: none;
	border-radius: 3px;
	display: inline-block;
	font-size: 1rem;
}

.theme-default .form-button.primary {
	background-color: #f44;
	color: white;
}

.theme-default a.form-button {
	text-align: center;
	line-height: 2em;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	top: -1px;
	background: transparent;
}

.theme-default a.form-button:visited {
	color: black;
}

.theme-default .indent {
	position: relative;
	padding: 0.1em;
	padding-left: 1em;
	display: block;
}

.theme-default .indent::before {
	content: '';
	position: absolute;
	left: 0;
	height: 0;
	width: 0;
	display: block;
	border: 0.25em solid transparent;
	border-left: 0.25em solid black;
	top: 50%;
	transform: translateY(-50%);
}

.theme-default .indent.level-0 {
	margin-left: 0;
}

.theme-default .indent.level-1 {
	margin-left: 2em;
}

.theme-default .indent.level-2 {
    margin-left: 4em;
}
